/* Standard Styling Throughout Page */
html,
body {
  font-size: 16px;
  font-family: "Lora", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.5rem;
  color: #008080;
  font-family: "Yellowtail", sans-serif;
  text-align: center;
}

h3 {
  font-size: 3rem;
}

p {
  line-height: 1.5;
  font-size: 1.4rem;
  color: #008080;
}

/* Main banner Styling */
.banner {
  background-image: url("../images/perfecto.png");
  background-size: cover;
  background-position: center;
  height: 30em;
  padding-top: 1rem;
}

.company-logo img {
  border-radius: 5px;
  border: 1px solid white;
  margin: auto;
}

/* Hamburger Styling */
.hamburger {
  margin-left: 1rem;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.hamburger div {
  width: 2.5rem;
  height: 6px;
  margin: 0.5rem 0;
  background-color: teal;
}

nav a {
  color: #ffffff;
  transition: color 200ms ease-out 100ms;
}

nav a:hover {
  color: black;
  text-decoration: underline;
}

.min .menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -50%;
  border-radius: 3px;
  margin-left: -4rem;
  width: 12%;
  height: 15rem;
  background-color: teal;
  opacity: 0.7;
  transition: left 400ms ease-in-out 300ms;
}

.menu li {
  padding: 1rem;
  font-size: 1.2rem;
}

.min:hover .menu {
  left: 0;
}

/* Headline Styling */
.headline {
  padding: 3rem 0;
  border-bottom: 1px solid #000000;
}

.quote h3 {
  color: #008080;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  padding-bottom: 4rem;
}

.quote a {
  background: #008080;
  border-radius: 16px;
  padding: 1.5rem 3rem;
  color: #ffffff;
  word-spacing: 1rem;
  width: auto;
  font-size: 2rem;
  transition: background 400ms ease-out 200ms, color 400ms ease-out 200ms;
}

.quote a:hover {
  background-color: #f15560;
  color: #1b1922;
}

/* Social Styling */
.social {
  padding: 3rem 0;
}

.social a {
  color: #008080;
  transition: color 200ms ease-in 100ms;
}

.social a:hover {
  color: #f15560;
}

/* Services Styling */
.services {
  padding: 4rem;
  background-color: #e1e2ec;
}

.services h2 {
  padding-bottom: 2rem;
}

.service {
  padding-bottom: 2rem;
}

.service .notes {
  width: 50%;
  margin: 0 3rem;
}


.service img {
  width: 50%;
  transition: width 1s ease-out 200ms;
}

.service img:hover {
  width: 75%;
}

.notes h3 {
  padding: 2rem;
}

/* Sample Menu Styling */
.menu {
  padding: 4rem;
}

.menu h2 {
  padding-bottom: 2rem;
}

.sample-text {
  justify-content: space-between;
  padding: 1rem 0;
}

.samples {
  flex-wrap: wrap;
}

.sample {
  margin-bottom: 2rem;
}

.sample img {
  border-radius: 5px;
  width: auto;
}

/* testimonials */
.testimonial {
  background-color: #e1e2ec;
  padding: 4rem;
}

.testimonial h2 {
  padding-bottom: 2rem;
}

.test1 {
  padding: 2rem;
  text-align: center;
}

.test img {
  margin: 0 3rem;
  width: 80%;
  border-radius: 10%;
}

.test1 p {
  padding-top: 1rem;
}

/* Google Map Styling */
.map {
  padding: 3rem 0;
}

.map h2 {
  padding: 2rem 0;
}

.map iframe {
  width: 100%;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.map h3 {
  padding-bottom: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

/* Footer Styling */
footer {
  padding: 2rem 0;
  background-color: #212529;
  color: white;
}

footer p {
  font-size: 0.9rem;
  color: white;
  opacity: 0.7;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.final {
  margin: 0 3rem;
  justify-content: space-between;
}

.step p {
  padding: 0 0.5rem;
}

/** Media Query **/
@media only screen and (min-width: 940px) and (max-width: 1600px) {

}

@media only screen and (max-width : 940px) {

  .samples {
    flex-wrap: wrap;
  }

  .test-row {
    flex-wrap: wrap;
  }

  .test {
    width: 50%;
  }

  .map h3 {
    text-align: center;
  }

  .map iframe {
    width: 80%;
  }

  p {
    line-height: normal;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  .service-row img {
    height: 15rem;
  }

  .service-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid maroon;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}
