/* Standard Styling Throughout Page */
html,
body {
  font-size: 16px;
  font-family: "Lora", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.hamburger div {
  width: 2.5rem;
  height: 6px;
  background-color: white;
  margin: 0.5rem 0;
}

#phone .navigation {
  background-color: #008080;
  position: fixed;
  top: 0;
  padding: 3rem 0;
  width: 100%;
}

.navigation p {
  color: white;
  font-size: 3rem;
}

.navigation .menu {
  position: fixed;
  z-index: 1;
  top: -100%;
  left: 0;
  border-radius: 2px;
  width: 10%;
  height: 15rem;
  padding: 1rem;
  background-color: #efc056;;
  transition: top 1s ease-out 300ms;
}

.navigation:hover .menu {
  top: 0;
}

.navigation a {
  color: #2d3c42;
  font-weight: 700;
  transition: color 50ms ease 20ms;
  font-family: "Montaga", sans-serif;
  line-height: 3;
}

.naviigation a:hover {
  color: red;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  letter-spacing: 4px;
}

h2 {
  font-size: 2rem;
  color: #008080;
  font-family: "Yellowtail", sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  line-height: 1.2;
  color: rgb(94, 94, 94);
}

/* Main banner Styling */
.banner {
  background-image: url("../images/perfecto.png");
  background-size: cover;
  background-position: center;
  height: 35em;
  padding-top: 1rem;
}

nav {
  background-color: #008080;
  padding: 1rem;
}

nav a {
  color: white;
}

li {
  display: inline-block;
  padding: 0 7rem;
}

.container img {
  border-radius: 5px;
  border: 2px solid black;
  margin: auto;
  margin-top: 17em;
  display: block;
}

/* Headline Styling */
.quote {
  padding: 2rem;
  border-bottom: 1px solid #000000;
}

.quote h3 {
  color: #008080;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
}

.quote p {
  background-color: #008080;
  border-radius: 4px;
  padding: 1rem;
  color: #ffffff;
  word-spacing: 8px;
}

/* Social Styling */
.social {
  margin: 3rem 0;
}

.social a {
  padding: 0 3rem;
  color: #008080;
}

/* Services Styling */
.services {
  background-color: #e1e2ec;
}

.services h2 {
  padding: 3rem;
}

.service-text {
  width: 50%;
  margin: 0 3rem;
}

.service-row img {
  width: 50%;
  height: 20rem;
}

.service-text h3 {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.service-text p {
  text-align: center;
}

/* Sample Menu Styling */
.menu h2 {
  padding: 3rem;
}

.samples {
  margin: 0 3rem;
  justify-content: space-around;
  padding-bottom: 3rem;
}

.sample-text {
  justify-content: space-between;
  padding-top: 1rem;
}

.sample img {
  border-radius: 5px;
}

/* testimonials */
.testimonial {
  background-color: #e1e2ec;
}

.testimonial h2 {
  padding: 3rem;
}

.test-row {
  margin: 0 3rem;
  justify-content: space-around;
  padding-bottom: 3rem;
}

.itest-t {
  padding: 2rem;
  text-align: center;
}

.itest img {
  margin: 0 3rem;
  width: 80%;
  border-radius: 10%;
}

.itest-t p {
  padding-top: 1rem;
}

/* Google Map Styling */
.map h2 {
  padding: 3rem 0;
}

.map {
  margin-bottom: 2rem;
}

.map img {
  width: 100%;
  margin: auto;
  color: teal;
}

/* Footer Styling */
footer {
  background-color: #000000;
}

footer .social-f {
  padding: 3rem;
}

.social-f a {
  color: #008080;
  padding: 0 2rem;
}

.company-name h3,
 p {
  text-align: center;
  color: #008080;
  padding-bottom: 1rem;
}

.copyright {
  margin: 0 5rem;
  justify-content: space-between;
}

.copyright p {
  color: rgb(94, 94, 94);
}

/** Media Query **/
@media only screen and (max-width : 940px) {
  #phone {
    visibility: hidden;
  }

  li {
    padding: 0 1rem;
  }

  .samples {
    flex-wrap: wrap;
  }

  .test-row {
    flex-wrap: wrap;
  }

  .itest {
    width: 50%;
  }

  .itest-t h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 720px) {
  #phone {
    visibility: hidden;
  }

  .service-row img {
    height: 15rem;
  }

  .service-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid maroon;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .copyright {
    flex-direction: column;
    margin: 2rem 0;
  }

  .copyright p {
    padding: 2rem 0;
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  #phone {
    visibility: visible;
  }

  .banner nav {
    display: none;
  }



}
