/* Standard Styling Throughout Page */
html,
body {
  font-size: 16px;
  font-family: "Lora", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.5rem;
  color: #008080;
  font-family: "Yellowtail", sans-serif;
  text-align: center;
}

h3 {
  font-size: 3rem;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #008080;
}

.testimonial h2,
.sample-menu h2,
.services h2,
.map h2 {
  padding-bottom: 4rem;
}

.headline,
.social,
.services,
.sample-menu,
.testimonial,
.map {
  padding: 4rem;
}

/* Main banner Styling */
.banner {
  background-image: url("../images/perfecto.png");
  background-size: cover;
  background-position: center;
  height: 30em;
  padding-top: 1rem;
}

.company-logo img {
  border-radius: 10px;
}

/* Hamburger Styling */
.hamburger {
  margin-left: 1rem;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.hamburger div {
  width: 2.5rem;
  height: 6px;
  margin: 0.5rem 0;
  background-color: teal;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  transition: color 200ms ease-out 100ms;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  color: black;
}

.ham .menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  border-radius: 3px;
  height: auto;
  background-color: teal;
  opacity: 0.8;
  transition: left 400ms ease-in-out 300ms;
}

.menu {
  padding-top: 3rem;
}

.menu li {
  padding: 1.5rem;
  font-size: 1.2rem;
}

.ham:hover .menu {
  left: 0;
}

/* Headline Styling */
.headline {
  border-bottom: 1px solid #000000;
}

.quote h3 {
  color: #008080;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  padding-bottom: 4rem;
}

.quote a {
  background-color: #008080;
  border-radius: 16px;
  padding: 1.5rem 3rem;
  color: #ffffff;
  word-spacing: 1rem;
  font-size: 2rem;
  transition: background-color 400ms ease-out 200ms, color 400ms ease-out 200ms;
}

.quote a:hover {
  background-color: #f15560;
  color: #1b1922;
}

/* Social Styling */
.social a {
  color: #008080;
  transition: color 400ms ease-in 100ms;
}

.social a:hover .fa-facebook {
  color: #3b5998;
}

.social a:hover .fa-twitter {
  color: #00acee;
}

.social a:hover .fa-instagram {
  color: #3f729b;
}


/* Services Styling */
.services {
  background-color: #e1e2ec;
}

.service {
  padding-bottom: 3rem;
}

.service .notes {
  width: 50%;
  margin: 0 3rem;
}

.service img {
  width: 50%;
  transition: width 1s ease-out 400ms;
}

.service img:hover {
  width: 80%;
}

.notes h3 {
  padding: 2rem;
}

/* Sample Menu Styling */
.sample-text {
  justify-content: space-between;
  padding: 1rem 0;
}

.samples {
  flex-wrap: wrap;
}

.sample img {
  border-radius: 5px;
}

/* testimonials */
.testimonial {
  background-color: #e1e2ec;
}

.test1 {
  padding: 2rem;
  text-align: center;
}

.test1 h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.test img {
  margin: 0 3rem;
  width: 80%;
  border-radius: 10%;
}

/* Google Map Styling */
.map iframe {
  width: 100%;
  border-radius: 20px;
}

.map h3 {
  padding-bottom: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

/** Quick Styling **/
.quick {
  background-color: #495057;
  padding: 2rem 0;
}

.quick p {
  text-transform: uppercase;
  color: #868e96;
  font-weight: bold;
}

.quick i {
  visibility: hidden;
}

.quick a:hover i{
  visibility: visible;
}

.quick a {
  color: white;
  padding: 0.5rem 0;
}

.first i {
  color: lightsalmon;
}

.second i {
  color: #f15560;
}

.third i {
  color: cadetblue;
}

/* Footer Styling */
footer {
  padding: 2rem 0;
  background-color: #212529;
}

footer p {
  font-size: 0.8rem;
  color: white;
  opacity: 0.7;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
}

.final {
  margin: 0 3rem;
  justify-content: space-between;
}

.step p {
  padding: 0 0.5rem;
}

/** Media Query **/
@media only screen and (min-width: 940px) and (max-width: 1600px) {

}

@media only screen and (max-width : 940px) {

  .test-row {
    flex-wrap: wrap;
  }
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}
